<template [ngIf]="!hidden">
  <ion-card style="width : 100%;">
    <ion-card-header>
      <ion-item>
        <h2>{{ title }} ....</h2>
        <p>{{ processedItem }}</p>
        <progress [max]="tasksTotal" [value]="executionCounter"></progress>
      </ion-item>
    </ion-card-header>

    <ion-list>
      <button *ngFor=" let taskReport of tasksReport" (click)="showDetails(taskReport)" ion-item>
       <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      <h2>{{ taskReport.subject}} <ion-badge *ngIf="taskReport.result === 'Success'" success>{{taskReport.result}}</ion-badge><ion-badge *ngIf="taskReport.result === 'Error'" error>{{taskReport.result}}</ion-badge> </h2>
    
    <p> <ion-badge *ngFor=" let metric of taskReport.metrics" metricbadge> {{metric.legend}}:{{metric.value}} </ion-badge> <p>
     
     </button>
    </ion-list>
  </ion-card>
 <button *ngIf="(taskExecutor.isCompleted() || taskExecutor.isValidated()) && taskExecutor.isSuccess()" outline success round (click)="successCallback(taskExecutor,tasksReport)"><ion-icon name="checkmark-circle"></ion-icon>{{successCallback.message}}</button>
 <button *ngIf="(taskExecutor.isCompleted() || taskExecutor.isValidated()) && taskExecutor.isError()" outline error round (click)="errorCallback(taskExecutor,tasksReport)"><ion-icon name="alert"></ion-icon>{{errorCallback.message}}</button>

</template>