 <ion-card *ngIf="!hidden">
  <ion-card-header>
    <ion-item>
    <h2>{{ title }} ....</h2>
    <p>{{ processedItem }}</p>
    <progress [max]="tasksTotal" [value]="executionCounter"></progress>
  </ion-item>
  </ion-card-header>

  <ion-list>
    <button *ngFor=" let taskReport of tasksReport" (click)="showDetails(taskReport)"ion-item>
       <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      <h2>{{ taskReport.subject}} <ion-badge *ngIf="taskReport.result === 'Success'" success>{{taskReport.result}}</ion-badge><ion-badge *ngIf="taskReport.result === 'Error'" error>{{taskReport.result}}</ion-badge> </h2>
    
    <p> <ion-badge *ngFor=" let metric of taskReport.metrics" metricbadge> {{metric.legend}}:{{metric.value}} </ion-badge> <p>
     
     </button>
  </ion-list>
</ion-card>