<ion-header class="slide-header">

  <h1>Import a Test Suite</h1>
  <p><span class="modal-header-description"> {{headerDescription}}</span></p>

</ion-header>
<ion-content>
  <ion-slides #wizard>
    <ion-slide>

      <ion-row>
        <ion-col offset-25>
          <input type="file" name="file" id="file" (change)="onFileSelected($event)" />
          <p *ngIf="!isValidated"><span class="import-error"> {{importErrorMessage}}</span></p>
        </ion-col>
      </ion-row>


    </ion-slide>
    <ion-slide class="slide-overflow">
      <ion-content class="modal-reporter">
        <da-task-report [showButtons]="false"></da-task-report>
      </ion-content>
    </ion-slide>
  </ion-slides>
  <ion-footer class="modal-footer">

    <ion-buttons end>
       <template [ngIf]="isProcessed && isCheckSuccess">
            <button success (click)="close()"> <ion-icon  name="checkmark-circle" color="primary"></ion-icon> </button>
        </template>
        <template [ngIf]="(isProcessed || isImportValidated) && !isCheckSuccess">
            <button danger (click)="close()"> <ion-icon  name="close-circle" color="danger"></ion-icon> </button>
        </template>
      <button *ngIf="isImport" primary (click)="import()" [disabled]="!fileSelected || !isValidated">
        Import
      </button>
       <button *ngIf="isProcessed " primary (click)="close()">
                Close
      </button>
      <button clear (click)="checkBackAction()">
                 {{ isImport ? 'Cancel' : 'Back'}}
      </button>
     
    </ion-buttons>

  </ion-footer>
</ion-content>