<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button royal>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>TexUI</ion-title>
    <ion-buttons end>
      <button royal>
      <ion-icon name="md-settings"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col width-100><input type="file" (change)="onFileSelected($event)" />
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col width-10>
        <button primary outline (click)="import()"> <ion-icon name="open"></ion-icon>Import
        </button>
      </ion-col>
      <ion-col offset-50 width-33>
        <button danger (click)="close()"> <ion-icon name="close"></ion-icon>I will import later 
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <da-task-report></da-task-report>
    </ion-row>
</ion-grid>
</ion-content>