<ion-header class="slide-header">

  <h1>Import a Test Suite</h1>
  <p><span class="modal-header-description"> {{headerDescription}}</span></p>

</ion-header>
<ion-content>
  <ion-slides #wizard>
    <ion-slide>

      <ion-row>
        <ion-col offset-25>
          <input type="file" name="file" id="file" (change)="onFileSelected($event)" />
        </ion-col>
      </ion-row>


    </ion-slide>
    <ion-slide class="slide-overflow">
      <ion-content class="modal-reporter">
        <da-task-report [showButtons]="false"></da-task-report>
      </ion-content>
    </ion-slide>
  </ion-slides>
  <ion-footer class="modal-footer">

    <ion-buttons end>
      <button *ngIf="isImport" primary (click)="import()" [disabled]="!fileSelected">
        Import
      </button>
       <button *ngIf="isProcessed || isValidated" primary (click)="close()">
                Close
      </button>
      <button clear (click)="checkBackAction()">
                 {{ isImport ? 'Cancel' : 'Back'}}
      </button>
     
    </ion-buttons>

  </ion-footer>
</ion-content>