
.arrow-custom {
    margin-top: 11px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size : 2.5em
}

.toolbar-row {
   background-color: #f4f4f4;
}

.feature-description {
  font-size: 1.3rem;
}

.toast-container {
  background-color: lightseagreen;
}

.feature-header {
  background-color: lightcyan;
}

