<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button royal>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>TexUI</ion-title>
    <ion-buttons end>
      <button royal>
      <ion-icon name="md-options"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col width-33>
        <tex-testsuite-explorer (testSuiteClick)="onTestSuiteClick($event)"> </tex-testsuite-explorer>
      </ion-col>
      <ion-col width-67>
        <tex-feature-explorer (featureUpdate)="onFeatureUpdate(feature)"> </tex-feature-explorer>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>