
  div.side-menu-background {
    background-color: #f4f4f4;
  }

.intro-img {
  width:450px ;
  height: 450px;
  margin:20px
}

.intro-buttons {
   margin-top: 60px
}

.import-link {
      font-size: 1.5rem;
    display: block;
    margin-top: 8px;
}