
  div.side-menu-background {
    background-color: #f4f4f4;
    padding: 2px;
    border-radius: 10px;
    height: 600px;
    overflow: scroll;
  }


.testsuite-card {
  text-decoration: none
}

.testsuite-popover div.popover-content {
  width: auto !important;
  padding: 0px !important;
}