<ion-header class="slide-header">

        <h1>Reload feature file from file system</h1>
        <p><span class="modal-header-description"> {{featureFilePath}}</span></p>
   
</ion-header>
 <ion-content style="margin-top: 75px">
 <da-task-report showButtons="true"></da-task-report>

    <ion-footer class="modal-footer">
        
        <ion-buttons end>
           
            <button primary (click)="close()" >
        Close
      </button>
            
        </ion-buttons>

    </ion-footer>
 <ion-content>