<ion-content>
    <ion-card>
        <!--ion-card-header *ngIf="!feature.isTCMSynched()" style="background-color : #E3F2FD;">
            <ion-icon name="alert"></ion-icon>
            It seems this is the first time you link this feature to {{tcmSettings.TcmName}}. Please fill below with the feature info
            id
        </ion-card-header-->

        <ion-card-header *ngIf="testCasesWarning" style="background-color : lightsalmon;">
            <ion-icon name="alert"></ion-icon>
            It seems that current feature scenarios number
            <ion-badge>{{feature.getScenarios().length}}</ion-badge> differ from tcm test cases number
            <ion-badge>{{featureTCM.TestCases.length}}</ion-badge>

        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="tcmSearchForm">
                <ion-item>
                    <ion-label floating>{{tcmSettings.TcmName | uppercase }} ID</ion-label>
                    <ion-input #tcmId [formControl]="tcmSearchForm.controls.tcmId" type="text" required></ion-input>
                    <button ion-button clear item-right (click)="search()">
        Search <ion-icon name="settings" ></ion-icon>
      </button>
                </ion-item>
                <ion-item *ngIf="!tcmSearchForm.controls.tcmId.valid && (tcmSearchForm.controls.tcmId.touched || tcmSearchForm.controls.tcmId.dirty)">
                    <p style="color:red">Please enter a valid value</p>
                </ion-item>
            </form>
            <ion-spinner style="width:700px;height:62px" *ngIf="isSearching" name="crescent"></ion-spinner>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="featureTCM && !isSearching">
        <ion-card-header class="feature-header">
            <ion-grid>
                <ion-row>
                    <ion-col width-90>
                        <h2>{{featureTCM.getCustomField('project')}}/{{ featureTCM.Id}}</h2>
                        <p style="font-size : 1.3rem;">{{featureTCM.Summary}}</p>
                    </ion-col>
                    <ion-col width-10>
                        <button clear primary (click)="expandDetail()"> 
          <ion-icon *ngIf="!showDetail" name="ios-arrow-down" class="arrow-custom" item-right></ion-icon>
          <ion-icon *ngIf="showDetail" name="ios-arrow-up" class="arrow-custom" item-right></ion-icon>
           </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngIf='showDetail'>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50>
                            <p style="font-size : 1.3rem;"><strong>Status</strong> {{featureTCM.Status}}</p>
                            <p style="font-size : 1.3rem;"><strong>Author</strong> {{featureTCM.Author}}</p>
                            <p style="font-size : 1.3rem;"><strong>Release</strong> {{featureTCM.Release}}</p>
                        </ion-col>
                        <ion-col width-50>
                            <p style="font-size : 1.3rem;"><strong>Created</strong> {{featureTCM.CreationTime}}</p>
                            <p style="font-size : 1.3rem;"><strong>Updated</strong> {{featureTCM.UpdateTime}}</p>
                            <p style="font-size : 1.3rem;"><strong>TestCases</strong>
                                <ion-badge>{{featureTCM.TestCases.length}}</ion-badge>
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <p style="font-size : 1.3rem;">{{featureTCM.Description}}</p>
            </ion-item>

        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col offset-33>
                <button ion-button (click)="linkFeature()" *ngIf="featureTCM && !isSearching">
    <ion-icon ios="ios-link" md="md-link"></ion-icon><span style="font-size : 1.3rem; "> Link  <span style="font-size : 1.4rem; color:cyan">{{featureTCM.Id}}</span> to feature file</span ></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>