<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button royal>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>KiTes</ion-title>
    <ion-buttons end>
      <button royal>
      <ion-icon name="md-options"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>

  <iframe width="100%" height="100%" [src]="tcmfeatureUrl">
       <p>Your browser does not support iframes.</p>
</iframe>



</ion-content>