<ion-header class="slide-header">

    <h1>Create a feature file</h1>
    <p><span class="modal-header-description"> {{headerDescription}}</span></p>

</ion-header>
<ion-content>
    <!--
    <ion-slides #wizard>
        <ion-slide> -->

    <form [formGroup]="featureForm">
       
                    <ion-item>
                    <ion-label floating>File Name</ion-label>
                    <ion-input #name [formControl]="featureForm.controls.name" type="text" required (keyup)="onFeatureFileNameChanged()" (keyup.enter)="goToNext()"></ion-input>
                    </ion-item>
                    <p *ngIf="featureForm.controls.name.hasError('required') && (featureForm.controls.name.touched || featureForm.controls.name.dirty)"
                        style="color:red">feature name is mandatory</p>
                    <p *ngIf="featureForm.controls.name.hasError('minlength') && (featureForm.controls.name.touched || featureForm.controls.name.dirty)"
                        style="color:red">feature name is too short</p>
                    <p *ngIf="featureForm.controls.name.hasError('validateFileName') && (featureForm.controls.name.touched || featureForm.controls.name.dirty)"
                        style="color:red">feature file already exists</p>
                   
               
                    <ion-item>
                    <ion-label floating>Feature Id</ion-label>
                    <ion-input #featureid [formControl]="featureForm.controls.id" type="text" required (keyup)="onFeatureIdChanged()"></ion-input>
                    </ion-item>
                    <p *ngIf="featureForm.controls.id.hasError('required') && (featureForm.controls.id.touched || featureForm.controls.id.dirty)"
                        style="color:red">feature name is mandatory</p>
                    <p *ngIf="featureForm.controls.id.hasError('validatefeatureId') && (featureForm.controls.id.touched || featureForm.controls.id.dirty)"
                        style="color:red">feature id already exists</p>
                    <p *ngIf="featureForm.controls.id.hasError('minlength') && (featureForm.controls.id.touched || featureForm.controls.id.dirty)"
                        style="color:red">feature id is too short</p>
                                 
                    
    </form>
    <ion-card>
        <ion-card-header>
             <button  class ="descriptive-button" outline round (click)="selectDirectory()">Select Directory..<ion-icon ios="ios-folder-open" md="md-folder-open"></ion-icon></button>
        </ion-card-header>
        <ion-card-content>
         
               <p> {{featureFilepath}} </p>
               <p *ngIf="filePathExists" style="color:red">feature file already exists</p>
                
        </ion-card-content>
    </ion-card>
   
    <ion-footer class="modal-footer">

        <ion-buttons end>
           
            <button primary (click)="editFeature()" [disabled]="!featureForm.valid || !canStartFeatureEdit || filePathExists">
        Edit
      </button>
            <button clear (click)="cancel()">
                Cancel
            </button>
        </ion-buttons>

    </ion-footer>
</ion-content>