<div class="tree-container">
 <tree class ="tree-node" [tree]="tree" (nodeSelected)="onNodeSelected($event)" (nodeCreated)="onNodeCreated($event)"  ></tree>
 <!--
<ion-card>
<ion-card-header class="tree-header">
   <ion-grid> 
            <ion-row >
               <ion-column width-75>
                 patient data acceptance test
               </ion-column>
                <ion-column width-25 offset-25>
                    <button small (click)="newFile($event)"><ion-icon name="ios-document-outline"></ion-icon></button>
                    <button small (click)="newFolder($event)"><ion-icon name="ios-folder-outline"></ion-icon></button>
                </ion-column>
            </ion-row>
            </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <tree class ="tree-node" [tree]="tree"></tree>
  </ion-card-content>

</ion-card>
-->
</div>